<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <version>3</version>
    <CONFIG_TYPE>HIGHEST</CONFIG_TYPE>
    <FPS>60</FPS>
    <DISP_MODE>FULL SCREEN</DISP_MODE>
    <SCR_REZ>3840x2160</SCR_REZ>
    <VSYNC>ON</VSYNC>
    <REN_REZ>100%</REN_REZ>
    <ANTI_ALIAS>ON</ANTI_ALIAS>
    <SHADOW_QUAL>HIGH</SHADOW_QUAL>
    <SHADOW_DIST>LONG</SHADOW_DIST>
    <DYNAMIC_FRAME>ON</DYNAMIC_FRAME>
    <TEXTURE_QUAL>HIGH</TEXTURE_QUAL>
    <RT_REF>ON</RT_REF>
    <AO>ON</AO>
    <MOT_BLUR>ON</MOT_BLUR>
    <CHROMA_ABERRATION>ON</CHROMA_ABERRATION>
    <VRAM_MONITOR>OFF</VRAM_MONITOR>
    <AMD_FSR>OFF</AMD_FSR>
    <DLSS>OFF</DLSS>
    <MONITOR_ID>1</MONITOR_ID>
</settings>
